version: "3.9"

services:

  nginx:
    image: nginx:latest
    depends_on:
      - web
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    restart: always

  web:
    image: hamid009/flask-sqlite-app:latest
    expose:
      - "5000"
    env_file:
      - ${ENV_FILE}
    depends_on:
      - db
    restart: always

  db:
    image: postgres:15
    env_file:
      - ${ENV_FILE}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

volumes:
  postgres_data:
