name: Flask CI/CD Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Lint with flake8
      run: |
        pip install flake8
        flake8 .

 # ---------- Docker Build ----------
    - name: Build Docker Image
      run: docker build -t flask-user-app:ci .

# ---------- Trivy Scan ----------
    - name: Run Trivy scan
      uses: aquasecurity/trivy-action@master
      with:
        image-ref: flask-user-app:ci
        format: table
        exit-code: 1
        ignorefile: .trivyignore
        vuln-type: os,library
        severity: HIGH,CRITICAL
 

